@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
    width:100px;
    height:100px;
    border-radius:50%;
    padding:1px;
    background:conic-gradient(#0000 10%,#0d84ece4) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - 18px),#000 calc(100% - 16px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:s4 0.5s infinite steps(10);
  }
  @keyframes s4 {to{transform: rotate(1turn)}}

  .line {
    margin-left: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: width 0.3s ease, left 0.3s ease;
    transform: scaleX(0); /* Menyembunyikan efek setengah lingkaran secara default */
    transform-origin: left; /* Mengatur titik asal transformasi */
  }
  a:hover .line {
    width: 100%;
    transform: scaleX(1);
  }